.team {
	background-color: lightblue;

	&-wrapper {
		padding: 0 20px;
		@include for_breakpoint(largeDesctop) {
			width: 80%;
			margin: 0 auto;
		}
	}

	&-header {
		padding: 10px 0;
		border: 1px solid darkblue;

		h2 {
			font-style: italic;
		}
	}
}
